<!-- <div class="page-header" >
	<h3> <%= user.name + ' ' + user.surname %> </h3>
</div>
<div class="user-details well" >
	<table class="table">
		<tr>
			<th> Nume: </th>
			<td> <%= user.name %> </td> 
			<th> Prenume: </th>
			<td> <%= user.surname %> </td> 
		</tr>
		<tr>
			<th> Email: </th>
			<td> <%= user.email %> </td> 
			<th> Telefon: </th>
			<td> <%= user.telephone %> </td> 
		</tr>
		<tr>
			<th> Adresa: </th>
			<td col-span="3"> <%= user.address %> </td> 
		</tr>
	</table>
</div> -->
<div class="page-header" >
	<h3> Ionescu Andreea - Mariana </h3>
</div>
<div class="user-details well" >
	<table class="table">
		<tr>
			<th> Nume: </th>
			<td> Ionescu </td> 
			<th> Prenume: </th>
			<td> Andreea - Mariana </td> 
		</tr>
		<tr>
			<th> Email: </th>
			<td> ionescu_andreaa@yahoo.com </td> 
			<th> Telefon: </th>
			<td> 0723 12 34 56 </td> 
		</tr>
		<tr>
			<th> Adresa: </th>
			<td col-span="3"> Bucureşti - Zona 1, Bd. ŞOS. ŞTEFAN CEL MARE nr. 15 bl. 15 </td> 
		</tr>
	</table>
</div>

<div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Împrumuturi active </a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
        	<table class="table table-hover" >
				<thead>
					<tr>
						<th> Carte </th>
						<th> Biblioteca </th>
						<th> Data imprumut </th>
						<th> Data inapoiere </th>
						<th> Prelungire </th>
						<th> </th>
					</tr>
				</thead>
				<tbody>
				<% @books.each do |book| %>
				  <tr>
					<td> <%= link_to book["carte"], book_path(book["id_carte"]) %> </td>
					<td> <%= book["biblioteca"] %> </td>
					<td> <%= book["data_imprumut"].strftime("%d-%m-%Y") %> </td>
					<td> <%= book["data_inapoiere"].strftime("%d-%m-%Y") %> </td>
					<td> <%= (prelungire(book["id"]))["data_prelungire"].strftime("%d-%m-%Y") if (prelungire(book["id"])) %> </td>
					<td><div class="btn btn-group pull-right"> 
						<% if (prelungire(book["id"])) then %>
							<%= link_to "Confirma" , '#', :class => "btn btn-xs btn-warning" %>	
						<% else %>
							<%= link_to "Prelungire" , '#', :class => "btn btn-xs btn-primary" %>
						<% end %>
						<%= link_to "Inapoiere" , '#', :class => "btn btn-xs btn-success" %> </div> </td>
				  </tr>
				<% end %>
				</tbody>
			</table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Rezervări active </a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
        	<table class="table table-hover" >
				<thead>
					<tr>
						<th> Carte </th>
						<th> Biblioteca </th>
						<th> Data rezervare </th>
						<th> </th>
					</tr>
				</thead>
				<tbody>
				<% @reserved_books.each do |book| %>
				  <tr>
					<td> <%= link_to book["carte"], book_path(book["id_carte"]) %> </td>
					<td> <%= book["biblioteca"] %> </td>
					<td> <%= book["data_rezervare"].strftime("%d-%m-%Y") %> </td>
					<td><div class="btn btn-group pull-right"> <%= link_to "Inchiriere" , '#', :class => "btn btn-xs btn-warning" %>
								<%= link_to "Anulare" , '#', :class => "btn btn-xs btn-danger" %> </div> </td>
				  </tr>
				<% end %>
				</tbody>
			</table>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Istoric inchirieri</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
        	
        </div>
      </div>
    </div>
  </div> 