<div class="welcome-content">
	<div class="raw">
		<% if user_signed_in? %>
			<div class="col-sm-12 col-md-4 context-box content-box-1">
				<i class="fa fa-coffee"></i>
				<h2> Noutăți </h2>
				<p><b>Bucurați-vă de noutățile apărute în biblioteca virtuală.</b></p>
				<%= link_to "Noutati", root_path, :class => "btn btn-danger" %>
			</div>
			<div class="col-sm-12 col-md-4 context-box content-box-2">
				<i class="fa fa-sign-in"></i>
				<h2> Populare </h2>
				<p><b> Descoperiți care sunt cele mai apreciate cărți din domeniile preferate ! </b></p>
				<%= link_to "Populare", root_path, :class => "btn btn-success" %>
			</div>
		<% else %>
			<div class="col-sm-12 col-md-4 context-box content-box-1">
				<i class="fa fa-coffee"></i>
				<h2> Bine ați venit </h2>
				<p><b>Creeați-vă un cont. Alăturați-vă chiar acum gratuit comunității online a pasionaților de lectură.</b></p>
				<%= link_to "Creează cont", new_user_registration_path, :class => "btn btn-danger" %>
			</div>
			<div class="col-sm-12 col-md-4 context-box content-box-2">
				<i class="fa fa-sign-in"></i>
				<h2> Autentificați-vă </h2>
				<p><b> Aveți deja un cont? Autentificați-vă pentru a putea rezerva cărțile favorite. </b></p>
				<%= link_to "Intră în cont", new_user_session_path, :class => "btn btn-success" %>
			</div>
		<% end %>
		<div class="col-sm-12 col-md-4 context-box content-box-3">
			<i class="fa fa-spinner"></i>
			<h2> Explorați </h2>
			<p><b> Explorați biblioteca, descoperiți literatura din toate domeniile și începeți să citiți. </b></p>
			<%= link_to "Explorează", books_path, :class => "btn btn-explore" %>
		</div>
	</div>
</div>