<div class="welcome-content">
	<div class="raw">
		<% if user_signed_in? %>
			<div class="col-sm-12 col-md-4 context-box content-box-1">
				<i class="fa fa-coffee"></i>
				<h2> Noutati </h2>
				<p><b>Bucurati-va de noutatile aparute in biblioteca virtuala.</b></p>
				<%= link_to "Noutati", root_path, :class => "btn btn-danger" %>
			</div>
			<div class="col-sm-12 col-md-4 context-box content-box-2">
				<i class="fa fa-sign-in"></i>
				<h2> Populare </h2>
				<p><b> Descoperiti care sunt cele mai apreciate carti din domeniile preferate ! </b></p>
				<%= link_to "Populare", root_path, :class => "btn btn-success" %>
			</div>
		<% else %>
			<div class="col-sm-12 col-md-4 context-box content-box-1">
				<i class="fa fa-coffee"></i>
				<h2> Bine ati venit </h2>
				<p><b>Creeați-vă un cont. Alăturați-vă chiar acum gratuit comunității online a pasionaților de lectură.</b></p>
				<%= link_to "Creeaza cont", new_user_registration_path, :class => "btn btn-danger" %>
			</div>
			<div class="col-sm-12 col-md-4 context-box content-box-2">
				<i class="fa fa-sign-in"></i>
				<h2> Autentificati-va </h2>
				<p><b> Aveti deja un cont? Autentificati-va pentru a putea rezerva cartile favorite. </b></p>
				<%= link_to "Intra in cont", new_user_session_path, :class => "btn btn-success" %>
			</div>
		<% end %>
		<div class="col-sm-12 col-md-4 context-box content-box-3">
			<i class="fa fa-spinner"></i>
			<h2> Explorati </h2>
			<p><b> Explorati biblioteca, descoperiti literatura din toate domeniile si incepeti sa cititi. </b></p>
			<%= link_to "Exploreaza", books_path, :class => "btn btn-explore" %>
		</div>
	</div>
</div>