<div class="page-header">
	<h3>Domenii </h3>
</div>

<div class="domains-content">
 	<% @domains.each do |domain| %>
 	  <%= link_to domain_path(domain["id_domeniu"]) do %>
 	  <div class="panel panel-default panel-domain">
		<div class="domain-box panel-heading"> 
			<h4> <i class="fa fa-chevron-circle-right"></i> <%= domain["domeniu"] %> </h4>
		</div>
		<div class="row panel-body">

				<div class="media book-content">
				  <div class="media-left">				    
				      <%= image_tag "/uploads/book/" + domain["imagine_coperta"] if domain["imagine_coperta"].present? %>
				  </div>
				  <div class="media-body">
				    <h4 class="media-heading"></h4>
				    <b> Titlu: </b> <%= domain["titlu"] %> <br>
				    <b> Data aparitie: </b> <%= domain["data_aparitie"] %> <br>
				    <b> Data adaugare: </b> <%= domain["data_adaugare"] %> <br>
				  </div>
				</div>

		</div>
		<%= link_to "Mai multe..", domain_path(domain["id_domeniu"]), :class => "btn btn-xs btn-link pull-right" %>
		<hr />
	  </div>
	  <% end %>
	 <% end %>
</div>
<div>
	<center>
		<%= will_paginate @domains, renderer: BootstrapPagination::Rails %>
	</center>
</div>