<% @books.each do |book| %>
	<div class="media book-content">
	  <div class="media-left">
	    <%= link_to book_path(book["id"]) do %>
	      <%= image_tag "/uploads/book/" + book["imagine_coperta"] if book["imagine_coperta"].present? %>
	    <% end %>
	  </div>
	  <div class="media-body">
	  	<% if user_signed_in? && current_user.user_type != nil %>
		  	<div class="btn-group pull-right">
		    	<%= link_to "Editează", edit_book_path(book["id"]), :class => "btn btn-xs btn-warning" %>
		    	<% if current_user.user_type == "admin" %>
		    		<%= link_to "Sterge", book_path(book["id"]), :method => :delete, :class => "btn btn-xs btn-danger", data: { confirm: 'Sunteti sigur?' } %>
		    	<% end %>
		    </div>
	    <% end %>
	  	<%= link_to book_path(book["id"]) do %>
	    	<h4 class="media-heading"> <%= book["titlu"] %></h4>
	    <% end %>
	    <table class="table">
	    	<tr>
	    		<th> Dată apariție: </th> 
	    		<td> <%= book["data_aparitie"].year %> </td>
		    	<th> Dată adăugare: </th> 
		    	<td> <%= book["data_adaugare"].strftime("%d-%m-%Y") %> </td>
		    </tr>
		    <tr>	
		    	<th> Cod ISBN: </th> 
		    	<td> <%= book["cod_isbn"] %>  </td>
		    	<th> Autor: </th> 
		    	<td> <%= book["autor"] %> </td>
		    </tr>
		    <tr>	
		    	<th> Editură: </th> 
		    	<td> <%= book["editura"] %> </td>
		    	<th> Domeniu: </th> 
		    	<td> <%= book["domeniu"] %> </td>
	    	</tr>
	    </table>
	    
	  </div>
	</div>
<% end %>
<center>
	<%= will_paginate @books, renderer: BootstrapPagination::Rails %>
</center>