<table class="table table-hover">
	<thead>
		<th> </th>
		<th> Titlu </th>
		<th> Cod isbn </th>
		<th> Autor </th>
		<th> Editura </th>
		<th> Domeniu </th>
	</thead>
	<tbody>
	  <% @books.each do |book| %>
		<tr>
			<td> <input type="radio" name="borrow[id_carte]" value='<%=book["id"]%>'> </td>
			<td> <%= book["titlu"] %> </td>
			<td> <%= book["cod_isbn"] %> </td>
			<td> <%= book["autor"] %></td>
			<td> <%= book["editura"] %></td>
			<td> <%= book["domeniu"] %></td>
		</tr>
	  <% end %>
	</tbody>
</table>
<center>
	<%= will_paginate @books, renderer: BootstrapPagination::Rails %>
</center>