<script>
	var vote = function(i) {
		$.ajax({
		    url:  "/books/" + <%= params[:id] %> + "/votes",
		    type: "POST",
		    data: {vote_number: i},
		    success: function(resp){ alert(resp.message); }
		})
	};
	var color = function(i) {
		for (var j = 1; j <= i; j++){
			document.getElementById("vote"+j).style.color = 'rgb(52, 75, 229)';
		}
	};
	var initialize = function() {
		$.ajax({
		    url:  "/books/" + <%= params[:id] %> + "/votes",
		    type: "GET",
		    success: function(resp){ 
		    	for (var j = 1; j <= resp.vote; j++){
					document.getElementById("vote"+j).style.color = 'rgb(52, 75, 229)';
				}
				for (var j = resp.vote + 1; j <= 5; j++){
					document.getElementById("vote"+j).style.color = 'rgb(181, 179, 179)';
				}
		    }
		})
	}
	$(document).ready(initialize)
</script>
<style>
#vote1, #vote2, #vote3 {
	color: orange;
}
#vote4, #vote5 {
	color: rgb(181, 179, 179);
}
</style>

<div class="page-header">
	<% if user_signed_in? and current_user.user_type %>
	<div class="btn btn-group pull-right">
		<%=link_to "Împrumută", new_book_borrow_path(@book["id"]), :class => "btn btn-xs btn-primary" %>
		<%= link_to "Editează", edit_book_path(@book["id"]), :class => "btn btn-xs btn-warning" %>
		<%= link_to "Adaugă exemplare", new_book_instance_path(@book["id"]), :class => "btn btn-xs btn-success" %>
		<% if current_user.user_type == "admin" %>
    		<%= link_to "Sterge", book_path(@book["id"]), :method => :delete, :class => "btn btn-xs btn-danger", data: { confirm: 'Sunteti sigur?' } %>
    	<% end %>
	</div>
	<% end %>
	<h3> <%= @book["titlu"] %> </h3>
	<% if user_signed_in? %>
		<div class="book-vote" onload = "initialize(<%= @vote %>)">
			<button id="vote1" class="btn-link" onmouseover="color(1)"  onmouseleave="initialize()" onclick="vote(1)"> <i class="fa fa-star fa-2" ></i></button>
			<button id="vote2" class="btn-link" onmouseover="color(2)" onmouseleave="initialize()" onclick="vote(2)"> <i class="fa fa-star fa-2"></i></button>
			<button id="vote3" class="btn-link" onmouseover="color(3)" onmouseleave="initialize()" onclick="vote(3)"> <i class="fa fa-star fa-2"></i></button>
			<button id="vote4" class="btn-link" onmouseover="color(4)" onmouseleave="initialize()" onclick="vote(4)"> <i class="fa fa-star fa-2"></i></button>
			<button id="vote5" class="btn-link" onmouseover="color(5)" onmouseleave="initialize()" onclick="vote(5)"> <i class="fa fa-star fa-2"></i></button>
		</div>
	<% end %>
</div>

<div class="book-content well">
	<div class="media-left">
	      <%= image_tag "/uploads/book/" + @book["imagine_coperta"] if @book["imagine_coperta"].present? %>
	</div>
	<div class="media-body">
		<h4> <b> Informații carte: </b> </h4>
		<table class="table">
	    	<tr>
	    		<th> Anul apariției: </th> 
	    		<td> <%= @book["data_aparitie"].year %> </td>
		    	<th> Data adăugării: </th> 
		    	<td> <%= @book["data_adaugare"].strftime("%d-%m-%Y") %> </td>
		    </tr>
		    <tr>	
		    	<th> Cod ISBN: </th> 
		    	<td> <%= @book["cod_isbn"] %>  </td>
		    	<th> Autor: </th> 
		    	<td> <%= @book["autor"] %> </td>
		    </tr>
		    <tr>	
		    	<th> Editură: </th> 
		    	<td> <%= @book["editura"] %> </td>
		    	<th> Domeniu: </th> 
		    	<td> <%= @book["domeniu"] %> </td>
	    	</tr>
	    </table>
	</div>


	<div>
		<h4> <b>Descriere: </b> </h4>
		<div class="description-book">
			<i> <%= @book["descriere"] %> </i>
		</div>
	</div>
	
</div>

<div class ="book-location" >
	<% if user_signed_in? and current_user.user_type == 'employee' %>
		<h4> Disponibilitate </h4>
	<% else %>
		<h4> Unde pot găsi această carte ? </h4> 
	<% end %>
	<table class="table ">
		<thead>
			<tr>
				<th> Nume </th>
				<th> Adresă </th>
				<% if user_signed_in? %>
					<th> Nr exemplare totale </th>
					<th> Nr exemplare împrumutate </th>
					<th> Nr exemplare rezervate </th>
					<% if !current_user.user_type %>
						<th> </th>
					<% end %>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% @details.each do |detail| %>
				<tr> 
					<td> <%= detail["nume"] %> </td>
					<td> <%= detail["adresa"] %> </td>
					<% if user_signed_in? %>
						<td> <%= detail["total"] %> </td>
						<td> <%= detail["imprumuturi"] %> </td>
						<td> <%= detail["rezervari"] %> </td> 
						<% if !current_user.user_type && detail["imprumuturi"].to_i + detail["rezervari"].to_i <  detail["total"].to_i %>
								<td> <%= link_to "Rezervă", library_book_reservations_path(detail["id_biblioteca"], params[:id]), :method => :post, :class => "btn btn-xs btn-success" %> 
								</td>
						<% end %>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<% if user_signed_in? and current_user.user_type == 'employee' %>
<div class="borrowed-books">
    <h4> Inchirieri active</h4> 
	<table class="table table-hover">
		<thead>
			<tr>
				<th> Biblioteca </th> 
				<th> Client </th>
				<th> Dată împrumut </th>
				<th> Data înapoiere </th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
			<% @borrowed_books.each do |book| %>
				<tr>
					<td> <%= book["biblioteca"] %> </td>
					<td> <%= book["nume"] +' ' + book["prenume"] %> </td>
					<td> <%= book["data_imprumut"].strftime("%d-%m-%Y") %> </td>
					<td> <%= book["data_inapoiere"].strftime("%d-%m-%Y") %> </td>
					<td><%= link_to "Inapoiere", borrow_path(book["id"]), :method => :put, :class => "btn btn-xs btn-success pull-right" %> </td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div class="reserved-books">
    <h4> Rezervari active</h4> 
	<table class="table table-hover">
		<thead>
			<tr>
				<th> Biblioteca </th> 
				<th> Client </th>
				<th> Data rezervare </th>
				<th> </th>
			</tr>
		</thead>
		<tbody>
			<% @reserved_books.each do |book| %>
				<tr>
					<td> <%= book["biblioteca"] %> </td>
					<td> <%= book["nume"] +' ' + book["prenume"] %> </td>
					<td> <%= book["data_rezervare"].strftime("%d-%m-%Y") %> </td>
					<td><div class="btn btn-group pull-right"> <%= link_to "Inchiriaza" , reservation_borrow_new_path(book["id"]), :class => "btn btn-xs btn-primary" %>
						<%= link_to "Anuleaza" , reservation_path(book["id"]), 
							:method => :delete, 
							data: { confirm: 'Esti sigur?' },
							:class => "btn btn-xs btn-danger" %> </div> </td> 
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<% end %>